@import url('https://fonts.googleapis.com/css?family=Mukta');

:root {}


#title {
    font-family: "Mukta";
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;

}



body { 
    margin: 0px;
    padding: 30px; font-family: "Mukta";
    overflow: hidden;
    background:0#313131 ;
}

body {
    overflow-y: scroll;
}

#progressBar {
    display: flex;
    justify-content: start;
    gap: 2px;
}

.square {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

div.square.selected {
    background-color: red;
}

.square.drawn {
    background-color: green;
}






#canvas-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

#canvas {
    background: white;
    border: 2px solid rgb(171, 166, 166);
    border-radius: 3%;
    margin: 0 ;
    display: block;
    width: 70%;
    height: 70%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
}


.Tools {
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin-top: 15px;
}

.Tools .label-field { 
    height: 40px; 
    width: 50px; 
    min-height: 40px; 
    min-width: 40px;
    display: inline-block;
    /* cursor: pointer; */
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid ;
    align-self: center;
    margin: 0 10px;
    text-align: center;
    color: rgb(211, 211, 211);
}

input[type="text"] {
    width: 100%;
    padding: 0px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    /* border: 2px solid #ccc; */
    border-radius: 7px;
}

.Tools .button {
    /* align-self: center; */
    width: 60px;
    height: 40px;
    border: 2px solid;
    cursor: pointer;
    color: rgb(174, 171, 171);
    background: #222;
    font-weight: bold;
    margin: 0 10px;
    border-radius: 3%;
}

#sidebar {
    height: 106px; /* Adjust as needed */
    overflow-x: auto;
    margin: 10;
    margin-bottom: 10px;
    /* border-radius: 3%; */
}

#labelbar-container {
    position: fixed;
    right: 0;
    top: 0.5;
    width: 200px;
}

#labelbar-heading {
    right: auto;
    /* position: sticky; */
    top: auto;
    width: 200px;
    text-align: left;
    color: white;
    /* background-color: white; */
    /* z-index: 1; */
}

#labelbar {
    position: fixed;
    right: 0;
    top: auto;
    width: 200px;
    height: 100%;
    max-height: 250px;
    overflow-y: auto;
    background-color: #090a0a;
    border: 2px solid rgb(171, 166, 166);
    padding: 1em;
    border-radius: 3%;
    text-align: left;
}